body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 190px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}
